<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a reset of your GBAid. Please enter the reset code below on your mobile device:</p>

<p><%= @token %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your GBAid won't change if you ignore this message.</p>
